[2019-01-05 23:12] Kexerval opened #5 "movementX data variable is Infinity"
I tried to use `vue-mouse-parallax` inside of [`vue-carousel`](https://ssense.github.io/vue-carousel/) to apply parallax to the carousel slides. The `movementX` data value is set to `Infinity` and as a result, no CSS transforms are applied. Relevant HTML snippets below:

[Inspection of the ParallaxElement Vue component](https://cdn.discordapp.com/attachments/400812774667845663/531246888591294491/u

[2019-01-21 03:51] lichingchester opened #6 "you don't have any dist files"
<link rel="stylesheet" href="vue-mouse-parallax/dist/vue-mouse-parallax.css"/>

<script src="vue.js"></script>
<script src="vue-mouse-parallax/dist/vue-mouse-parallax.browser.js"></script>

please help

[2019-01-21 13:19] jllagerberg opened #7 "Speed"
Would be cool if there was an option to alter the speed of the animation.
It's rather slow for my taste.

[2019-01-25 14:16] ghost opened #8 "Eslint correction on code - parallax not working"
Due to eslint errors on the original code I've done minor changes. The code looks like this now:

[code]

I've done `yarn add vue-mouse-parallax`, added:
[code]
in my index.js where I keep all my plugins. Build on my app is all well, css is linking etc. No output errors on console.

Any ideas what may be the cause?

[2019-02-23 09:44] Aryan-mor opened #9 "problem on scroll down"
on mouse hover on item when scroll reaches the end  last items this problem

![untitled](https://user-images.githubusercontent.com/22844436/53284552-4f1f7200-376b-11e9-8fb4-739dbbcd41c5.png)
![untitled1](https://user-images.githubusercontent.com/22844436/53284551-4e86db80-376b-11e9-968c-bd9ae43f29af.png)

[2019-04-19 04:16] lizhineng commented on #8
Try to change your parallaxstrength to parallax-strength

[2019-05-02 12:55] Arteau opened #10 "No parallax on complex SVG element."
Hi,
first of all, I love this plugin, it's really handy and already saved me lots of work.
That being said, I'm trying to parallax an SVG to a text container, the text container is just a div containing an h1, h2, and a p element.
I just changed the 'div' to 'parallax-element' and that works.

Underneath it is an SVG illustration with lots of groups and paths, contained within a div. When I change

[2019-06-23 12:29] samuelgoddard opened #11 "Capped / Max Strength Param"
Hey, thanks for the great plugin. I've stumbled across one slight bug, is it possible to pass in a max strength attribute, when i load my page, if my cursor is already over a parallax element (before it's actually rendered), when it finally renders it's all borked due to my cursor placement. It's fine once I move it and it seems to reset itself. It'd be ideal if i could "cap" the strength amount.

[2019-09-29 11:06] Aminerman commented on #5
Hello! I pushed a new version of the plugin. It should solve the issue. Let me know if you still stumble upon a problem.

[2019-09-29 11:06] #5 closed

[2019-09-29 11:07] Aminerman commented on #6
Hello! I added them now.

[2019-09-29 11:07] #6 closed

[2019-09-29 11:08] Aminerman commented on #7
Hello! I released a new version. Now you can change the speed to your liking.

[2019-09-29 11:08] #7 closed

[2019-09-29 11:09] #8 closed

[2019-09-29 11:10] Aminerman commented on #9
Hello, I pushed a new version of the plugin. This issue should be solved now.

[2019-09-29 11:10] #9 closed

[2019-09-29 11:18] the94air commented on #7
I needed that too. Thanks, @Aminerman for this awesome release.

[2019-10-06 07:17] imanaspaul opened #13 "Cannot read property 'install' of undefined"

[2019-10-15 07:55] Aminerman commented on #13
Hello, can you give more context about this issue?

[2019-10-19 09:49] Aminerman commented on #10
Hello, this has been fixed in the latest release. The issue was that the **parallax-container** and **parallax-element** wrapped elements around a div. Now you can specify a tag. In the case of SVG elements you can just do tag="g".

[2019-10-19 09:49] #10 closed

[2019-10-21 09:08] Aminerman commented on #11
Hello! Thank you for mentionning this issue. It has been fixed on the latest release. This problem shouldn't happen anymore and you don't need to cap the strength for that.

[2019-10-21 09:08] #11 closed

[2019-10-21 09:09] #13 closed

[2019-11-10 16:19] nonlinearcom opened #17 "Does it work on nuxt?"
Hi, is this component compatible with nuxt.js? I'm trying to use it as a plugin but i get this error:
[code]
Thanks in advance!

[2019-12-04 14:26] kressso commented on #17
Cant find install method to use with ```Vue.use...```

### Try this:

plugins/name-of-plugin.client.js
[code]

nuxt.config.js

``` plugins: [ 'path/name-of-plugin.client.js' ] ```

.html
[code]

#### Check links for additional info of different ways of import depending of nuxt version
- ways to import client-side plugin
[https://nuxtjs.org/guide/plugins/#client-side-only](url)
- wrap html componen

[2019-12-04 17:33] the94air commented on #17
You can use client attribute instead of `<client-only>` tag
[code]

[2019-12-05 09:30] kressso commented on #17
Without ```<client-only>``` u get console error
[code]

[2019-12-11 17:07] winardidesign commented on #13
I also facing the same problem

Already add this to my main js file

import VueMouseParallax from 'vue-mouse-parallax'

Vue.use(VueMouseParallax)

In console log

Uncaught TypeError: Cannot read property 'install' of undefined
    at Function.Vue.use (app.js:23691)

[2019-12-19 15:56] gluneau opened #18 "Missing CSS classes to make parallax-element overlap"
Could you provide the CSS to make parallax-element overlap?

It would help if you released the code you used to make the demo.

[2019-12-19 23:00] Aminerman commented on #18
`parallax-element` are actually just normal DOM elements. You can add a class to them and give them a `position: absolute` and you can therefore make them overlap.
Does it help solving your issue?

[2019-12-19 23:13] gluneau commented on #18
As soon as I use `position: absolute` everything stop moving.  No more parallax effect.  I'm missing some CSS magic somewhere.

[2019-12-20 14:32] Aminerman commented on #18
My guess is that, if all your `parallax-element` are in `position: absolute`, therefore your `parallax-container` has a **width** and **height** equal to **0**. Therefore there can't be any movement as the `parallax-container` is the one that detects the mouse movement.
So depending on your case and the result you're trying to achieve you need to find a way to give your `parallax-container` a **wi

[2019-12-25 21:36] #18 closed

[2020-01-02 08:12] Aminerman commented on #17
This issue was fixed on the latest version that is now called **vue-kinesis**. There is a section in the README that explains how to migrate from vue-mouse-parallax to vue-kinesis.

[2020-01-02 08:12] #17 closed

[2020-01-03 16:29] the94air commented on #17
@kressso correct. It won't work unless you make the parallax components global inside of your plugin file. importing the components inside of your template file the normal way will cause errors I guess.

[2020-01-03 16:37] the94air commented on #17
The new update is insane @Aminerman. Fantastic work. Hats off!

[2020-01-13 18:45] leonardogruppelli opened #21 "Error on audio stop"
There's an error ocurring when changing the state of the `playAudio` **prop** from `true` to `false`. As I see, the problem is that the wrong function is being called on the audio ref, instead of    `this.audioRef.stop()` it should be `this.audioRef.pause()`.

[2020-01-14 22:17] Aminerman commented on #21
You're correct! I fixed it. Just get the latest package version and it should be all fine. Let me know if your problem is fixed. Thank you :)

[2020-01-15 02:17] Aminerman commented on #13
Hi! The latest update fixed this. Install vue-kinesis instead of vue-mouse-parallax. There is a section in the readme that explains how to migrate from the old version.

[2020-01-15 11:39] leonardogruppelli commented on #21
It's fixed! Thanks!
And awesome lib btw, congratulations man!

[2020-01-15 11:39] #21 closed

[2020-01-16 20:43] Aminerman commented on #21
Thank you! Let me know if you find something else or if you think about a specific features. I still have a lot of ideas for this project.

[2020-02-17 07:03] blurdylan opened #23 "Examples' source code"
Most of the examples on the website look cool!
However, the little snippets showed are not explicit enough to comprehend what was done to achieve that. It'll be great to have their source.

[2020-02-17 20:16] Aminerman commented on #23
Hello,
Thank you for your feedback and I totally understand your point. It was a choice to make it this way because the code snippets would have been unnecessarily long and cluttered (especially for SVG) so I wanted to focus on the principles behind each example.

I'm planning to add another page that will detail each property and how it can be used. I guess it will be more helpful. But I'll also

[2020-02-18 11:10] #23 closed

[2020-02-23 20:49] zipme commented on #23
Great library @Aminerman , I am also looking for the source code of the examples, would be very helpful in understanding the  usage, especially the svg example. Thanks!

[2020-03-02 13:41] nam-co opened #24 "A way to detect in view port"
Hi, thanks for the package, maybe it could be cool to activate for example a clip-path animation when element on viewport and combined with mouse parallax, is there a way to do this in kinesis?

Thank you for your time

[2020-03-02 17:21] Aminerman commented on #24
Hello,
Just to make sure that I understand your issue, do you just want a way to know if the element is in the viewport? Or is your question about if Kinesis can animate clip-path property?

[2020-03-02 17:44] nam-co commented on #24
Hi Aminerman, thanks for your prompt reply, is not really a issue, but more an idea, iis it possible to detect when element is in viewport and then for example add/remove a xx class

but your second question could be visually cool, can Kinesis animate clip-path property? or for example css @keyframe based on screen scroll percentage

[2020-03-03 12:24] ErriourRU opened #25 "Parallax breaks OwlCarousel slider swipe"
I have [vue OwlCarousel package](https://www.npmjs.com/package/vue-owl-carousel2). If I'm trying set parallax on slide, slide becomes impossible to swipe.
Example (common behavior of OwlCarousel at top and behavior with `<kinesis-container>` below):

![bandicam 2020-03-03 22-08-15-887](https://user-images.githubusercontent.com/43105218/75774554-f205c580-5d9b-11ea-8802-b581f4f668fd.gif)

[2020-03-03 17:40] kn0wn opened #26 "[Nuxt] Deploying with nuxt generate to Netlify causes module to break"
When using the nuxt-generate command, no errors are generated in the build log, but when viewing the website in the browser I get the error below;

`DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method.`

[2020-03-03 19:27] #26 closed

[2020-03-05 15:33] Aminerman commented on #25
Could you make a small CodeSandbox that reproduces this behavior? It would be quite helpful.

[2020-03-05 19:31] Aminerman commented on #25
I reproduced the bug and updated the package with a fix. Please give it a try and tell me if it fixes your bug.
Thanks for your feedback!

[2020-03-06 00:44] ErriourRU commented on #25
Yep, no problems now. Thanks!

[2020-03-06 00:44] #25 closed

[2020-03-06 11:00] kn0wn commented on #26
Just incase someone else comes across this issue. This was actually caused by Netlify forms inputting an invalid node. Adding the hidden field manually solved the issue.

[2020-03-06 13:24] Aminerman commented on #24
For now there is no way to animate other than transforms. There will be definitely at some point more possibilities.

The **Keyframe** idea is something than I might try to implement soon.

For the **viewport** thing, what about just using a package like [this one](https://www.npmjs.com/package/vue-in-viewport-directive)?

[2020-03-09 17:34] #24 closed

[2020-03-16 16:29] zernonia opened #27 "Not working in NuxtJS"
I've tried to implement this onto my NuxtJS apps, but it doesn't show any animation. I've checked the DOM and it seems everything render nicely.

Perhaps something config problem? or my coding for <kinesis-container> and <kinesis-element> has some issue. Would love to see the code for demo on the websites too

`<kinesis-container event="scroll" >
      <kinesis-element strength="100">
        <div

[2020-03-17 00:15] Aminerman commented on #27
Do you have any errors showing up in the console?
In the code you sent you have an extra `</div>`. Could it be the problem?
If none of the above, would it be possible for you to send me a small nuxt project that has only this code snippet so I can debug it?

[2020-03-18 10:25] Aminerman commented on #27
Maybe you'd want to take a look at this tutorial by @leonardogruppelli :
https://medium.com/@leonardo.gruppelli/kinesis-awesome-animations-for-your-vue-nuxt-applications-8c16ae701e92

Maybe this might help:

`A VERY IMPORTANT NOTE: if you're using Nuxt on Universal Mode and want to use the <kinesis-container /> with the scroll event, you'll need to wrap the <kinesis-container /> with a <client-onl

[2020-03-20 17:23] Scaalees opened #28 "Scroll and Mouse movement"
Loving this package, so easy to use and perfect for what I need (been trying to move away from scroll magic for simple bits).

I've just got a question, is it possible for a container to interact on scroll and mouse movement.

For example, having an image scale on scroll but the mouse controlling the translation relative to the mouse.

Thanks in advance

[2020-03-20 21:18] Aminerman commented on #28
Hello! Thanks a lot for your words! I'm glad that you like it and find it easy to use.
It depends on what your use case is, but I made a `codesandbox` that might help:
https://codesandbox.io/s/laughing-panini-0veys
I'm using a `kinesis-scroll` inside a `kinesis-element`. Basically, kinesis-scroll is a component that doesn't depend on a container.
Let me know if it helps and if it's still optimal f

[2020-03-20 21:24] Scaalees commented on #28
Perfect thank you for that, I'll give it ago.

[2020-03-20 21:24] #28 closed

[2020-03-20 21:25] Aminerman commented on #27
I'll close the issue for now. You can reopen it if this doesn't fix your problem.

[2020-03-20 21:25] #27 closed

[2020-03-22 01:54] Aminerman commented on #28
Great!
Yes, I'll do so. I'm working on improving the doc and the demo page.

[2020-03-24 12:54] YanDevDe opened #29 "Offset for Depth?"
Hello,

I was wondering if we can set up offset for the degree at type "depth"/"depth_inv"?

As example if I set offsetY to "0.5":
If the image is center of the screen, then it should show 0deg at rotateX. If the image is top of the screen, then rotateX should go in positive value and if its bottom, then it should go to negative value.

Example usage:

[code]

Thanks,

Yan

[2020-03-24 23:13] Aminerman commented on #29
Hello Yan,

Thank you for your question. Actually the feature was available but wasn't active for the `scroll event`. I fixed it and created a [**Codesandbox**](https://codesandbox.io/s/smoosh-bush-5k336) so you can play around with it and confirm that I understood your issue and that it solves it.

So, to explain instead of `offsetY` the prop is called `originY`. It might be a bit counter-intuiti

[2020-03-24 23:51] YanDevDe commented on #29
Hey Aminerman,

Yup, the example from Codesandbox is the exactly the feature which I wanted! That's awesome!
Yeah I thought it was originY at first, but it didn't worked, so I thought it was something else. 😅
The version 1.1.5 is not out yet. So I assume this will be released soon?

Thank you so much,

- Yan

[2020-03-25 12:33] YanDevDe commented on #29
The new update is out and it is working perfectly. I'll close this issue. Thank you so much for the fast reply + fix!! 👏

[2020-03-25 12:33] #29 closed

[2020-03-25 13:29] Aminerman commented on #29
Perfect!
It's already on NPM, as it's the version I used for the Codesandbox example. You can just update the package.

[2020-03-25 13:31] Aminerman commented on #29
Great! You're welcome. It was already available yesterday as it's the version I used for the Codesandbox example.
Glad that you can make it work. And do not hesitate if you have any other queries, ideas or whatever.

[2020-03-25 17:12] YanDevDe commented on #29
Sure, I may have some ideas which I may create new issue for that. 👍

[2020-04-17 21:23] thalysmarciobn opened #30 "Container"
the elements not works with scrolling with position absolute

[2020-05-05 19:28] chrislow opened #31 "Support SSR (Server Side Rendering)"

[2020-05-06 20:17] sebabal opened #32 "Round translate properties values to avoid blurry text"
Hi, it would be great if translate values could be rounded because it can cause issues on Chrome such as it makes the element blurry.

[code]

[2020-05-08 14:16] Aminerman commented on #31
Maybe you'd want to take a look at this:
https://medium.com/@leonardo.gruppelli/kinesis-awesome-animations-for-your-vue-nuxt-applications-8c16ae701e92

[2020-05-10 14:25] #31 closed

[2020-05-17 22:42] myvagrantlife opened #33 "Nuxt JS navigator.userAgent Error - SSR"
Hi, I get the following error when working with NuxtJS due to navigator not being available server-side with SSR.

If I directly edit the vue-kinesis.umd.js file in node_modules to remove this user agent check then it works okay (guessing this has an impact on mobile?)

Any help or suggestions would be great, thank you.

<img width="1167" alt="Screenshot 2020-05-17 at 23 26 09" src="https://user-i

[2020-05-25 14:03] mariojankovic commented on #33
Did you try importing the plugin with mode: 'client' enabled, like this? `plugins: [{ src: '~/plugins/vue-kinesis.js', mode: 'client' }]`

[2020-05-26 10:56] mariojankovic opened #34 "Gyroscope ability"
I love kinesis! It's amazing and makes things a lot easier for me. One thing I noticed is that you mentioned that

I've searched through your code but I don't see anything that would imply gyroscope functionality works.

[2020-06-01 21:21] myvagrantlife commented on #33
Wouldn't this would have negative effect on SEO? I have content inside kinesis elements that are crucial.

[2020-06-01 21:30] mariojankovic commented on #33
You are confusing <client-only> with mode: client, the former only showing content in browser whereas mode: client won't run the code in question but will keep your HTML structure intact (if the content is not injected by JS which is not the case here). Your HTML structure is and should be your main source for SEO. So no - it wouldn't.

[2020-09-08 14:50] Elvincth opened #39 "Mobile support issues"
Seems it didn't translate base on mobile's motion sensors

[2020-09-19 05:47] altryne opened #40 "Demo site is down"
Hey there, it looks like https://aminerman.com/ is down and there's no demo nor usage for this package.
Can you please host the demo on github.io 🙏

[2020-10-02 07:09] venkivijay commented on #40
@Aminerman Can you please resolve this issue?

[2020-10-08 09:47] dominik-wbz opened #42 "When you move cursor outside the browser window, the kinesis elements briefly jump forward and back (see video)"
Can someone explain this behavior and how to fix it?

https://youtu.be/Q-ZENarErG0

[2020-10-13 16:57] Archer-Thane opened #43 "Can be used as loop events instead of mouse movements or scroll?"
Hey there! AWESOME PROJECT!
Really cool!
My question is that can we do a trick to use animations as a loop independent from mouse movement or scroll?
That's specially useful when you want to have a nice background with a lot of movable elements, which moves slowly in random directions.
Thanks

[2020-10-14 08:07] Maus3rSR commented on #40
https://aminerman.com/kinesis

[2020-10-14 08:30] venkivijay commented on #40
@Maus3rSR We know the link to the demo site. The issue is that it was down. Anyways thanks.
@altryne Now that the site is up and running this issue can be closed.

[2020-11-03 11:19] nasirDoe opened #44 "Please add configuration disabled on mobile. Thanks"

[2020-11-03 20:10] david-noe commented on #42
I have the same issue. Is there a way to fix it?

[2020-11-05 09:37] dominik-wbz commented on #42
No luck so far. Will continue to work on this project in few weeks. Will keep this thread updated if I find anything.

[2020-11-08 19:52] Aminerman commented on #42
Hello guys, @dominik-wbz & @david-noe
I haven't worked on this project due to some personal issues. My apologies. I'll be looking at the issue and how to fix it soon. On my demo page I don't have this issue. So I might ask if you can reproduce an example if I don't succeed on finding the reason.

[2020-11-08 20:36] Aminerman commented on #40
@altryne Thanks for letting me know. Indeed the website was down for a little while. As you said it might be better to host it on github.io and add demos directly in the package.
I'll do this soon. I'm sorry for the lack of updates lately, some personal issues made me be away from programming for a while.
I'll close the issue when this is all done.

[2020-11-08 20:56] david-noe commented on #42
Hi @Aminerman, thanks for your reply. I am currently working on this page: https://david-mzee-1.vercel.app/
When moving the cursor outside the Kinesis Div. (e.g. in the navigation bar) the animation jumps.

[2020-11-08 21:23] Aminerman commented on #42
@david-noe Indeed, I actually just noticed that the issue started to appear since 1.1.4 version. So that gives me a clue. Can you confirm that 1.1.3 works fine?

[2020-11-08 21:58] david-noe commented on #42
Yes :) version 1.13 works fine.

[2020-11-09 08:48] dominik-wbz commented on #42
Hi @Aminerman thanks for taking the time for this. I downgraded the version to 1.13 and can also confirm that the problem is gone 🤷‍♂️

[2020-11-10 15:51] Aminerman commented on #42
Hello guys! @dominik-wbz & @david-noe  Thanks for your feedback.
Can you please test version `1.1.7` ? It should be fine now.
I'll be working on solving the other issues and add new features soon. If you have any suggestions or ideas do not hesitate.

[2020-11-10 21:50] #40 closed

[2020-11-11 22:41] mathewcst opened #46 "No Typescript support"
I'm trying to use this lib within my app but, since I'm using Typescript, I can't because it doesn't have a type declaration

`Could not find a declaration file for module 'vue-kinesis'. '/node_modules/vue-kinesis/dist/vue-kinesis.umd.js' implicitly has an 'any' type.`

[2020-11-12 10:01] Aminerman commented on #46
Thanks for pointing that out. What is your suggestion?

[2020-11-13 10:48] #42 closed

[2020-11-14 13:35] david-noe commented on #42
Thanks you so much! Now it works fine :)

[2020-11-19 09:45] Aminerman commented on #46
I'll close this issue for now, do not hesitate to reopen it when you have a suggestion or want to help with this.
In the meanwhile, you could maybe use this to help you :
https://stackoverflow.com/questions/41292559/could-not-find-a-declaration-file-for-module-module-name-path-to-module-nam

[2020-11-19 09:45] #46 closed

[2020-11-19 15:32] MarinaAkatieva opened #47 "Is it possible to initiate an animation programmatically?"
Hello, thanks for this amazing library!

Is it possible to initiate an animation programmatically?
I mean not on mouse move or scroll, but by JS (for example on window load)

Thanks,
Maryna

[2020-11-20 09:39] Aminerman commented on #47
Hello, thank you for your feedback :)

At the moment there is no such possibility but we can discuss the idea. The idea behind Kinesis is to move objects based on values that evolve through time (mouse movement, scroll, audio...). So it won't work for, let's say, a tweening between a start and end value. All the intermediate values have to be calculated "manually".

But I'd like to understand your

[2020-11-20 10:07] MarinaAkatieva commented on #47
Hi Aminerman,
Please see how my animation is working on the desktop in the attached gif - it's kinda an eye that is watching the mouse move.
On the mobile, I'd like it acts the same but without user interaction.
I thought to write few "states" (for example rotateX(10deg)&rotateY(-12deg) and rotateX(12deg)&rotateY(17deg)) and make the button toggle these states when it's in the viewport.

![eye-ani

[2020-11-23 11:24] Aminerman commented on #47
Oh I see, that's an interesting idea. That's cool to see what you managed to do :)
I'll consider you suggestion. I'll need to think about it.
The thing is that if you need to do a looping animation using those "states", you might want to use another animation library, like anime.js or GSAP. But I understand that you might not want to add another dependency just for that. This is why I'll think abo

[2020-11-25 10:35] Aminerman commented on #47
So after thinking about it here is what I came up with. The idea would be to add a `:states` prop, but it will work a bit differently than what you suggested. Instead of passing css-like transform properties, the idea would be to pass values ranging from 0 to 1, or 0% to 100%.
There are many reasons for that:

- The way Kinesis works already is that it maps the start of the animation to 0 and the

[2020-11-25 10:58] MarinaAkatieva commented on #47
Thanks, that sounds fully reasonable!

[2020-12-16 21:25] MadeInFck opened #49 "Vue3 Compatibility"
Hi, are you planning to migrate your module to Vue 3?

[2020-12-16 21:52] Aminerman commented on #49
Hello! Yes, it's in the plans. But it's not the top priority now. I'm working on a lot of new features and a new demo and documentation page. If there are compatibility issues though. I might make it a priority.
So let me know if you have had issues with it please.

[2020-12-21 09:55] eybarta commented on #49
Hey man, thx for amazing work...
trying to import your library into a vue3/vite project,
getting this error:
**Failed to resolve module import "vue-kinesis/dist/vue-kinesis.esm.js". (imported by /src/main.js)**

I tried to build your project inside the folder with _npm run build:es_, but got errors,
Do you have any idea how to resolve this?

Thank you

[2020-12-21 10:04] Aminerman commented on #49
I'll try to reproduce it and get back to you with an answer.

[2020-12-21 12:41] Aminerman commented on #49
Hi again, I did manage to reproduce the issue and investigate for a while. My conclusion is that there are indeed few compatibility issues that I'll have to figure out and fix.

[2020-12-21 15:12] Aminerman commented on #49
Hello once again,
I've actually managed to make it compatible with Vue3 on a Vite project. I just need to add few tweaks here and there before relasing. So expect a release later today or tomorrow at most. I'll let you know then.

[2020-12-21 15:29] eybarta commented on #49
You rock! that's great news!

thanks for the fast response.

[2020-12-21 17:21] MadeInFck commented on #49
Amazing, thanks for managing that migration so fast. Can't wait it to use it for my next projet!

[2020-12-21 23:00] Aminerman commented on #49
Hello guys,
You can now use vue-kinesis in a Vue3 project by doing :  `npm install vue-kinesis@next`
It will install the version 2.0.1
So now the branch `next` is the branch for the Vue3 compatible version.
Please let me know if it works for you and if you encounter any other issues :)

[2020-12-22 01:44] Aminerman commented on #33
Hello!
A fix have been published through this PR: https://github.com/Aminerman/vue-kinesis/pull/41
Also I have updated the dist files with further SSR optimizations.
Please let me know if you still have any issues.

[2020-12-22 01:44] #33 closed

[2020-12-22 06:58] eybarta commented on #49
Works perfectly for me, thank you very much!

[2020-12-22 15:34] Aminerman commented on #49
Perfect :) I updated the README accordingly.
I'll close the issue now. If there is anything that doesn't work as expected, you can open another one.
Have fun with the library :)

[2020-12-22 15:34] #49 closed

[2020-12-25 16:32] evgenii-code opened #51 "On SSR effect starts working only when cursor goes off container"
I'm using this plugin in Nuxt with SSR.
if mouse cursor is inside kinesis container on initial page load, the mouse parallax effect starts working only when the cursor goes off container and goes back.
As a container i'm using whole layout, so cursor have to go off viewport to effect starts working.
if plugin registered with "mode: 'client'", i get vue warn "The client-side rendered virtual DOM tr

[2020-12-29 09:08] evgenii-code commented on #51
For some reason I can't install vue-kinesis in codesandbox
So here is a little repo with my problem https://github.com/evgenii-code/vue-kinesis-test

[2020-12-29 11:11] Aminerman commented on #51
Hello! Thank you for providing a repository. That's quite helpful!
Hmm well, I did test your repository and here is what happened:

1. I tested it the first time and I indeed had the issue you described.
2. I tried to install a previous version of vue-kinesis (1.1.7) and it worked fine.
3. I reinstalled 1.2.1 again and it worked fine.
4. I cloned your repository again in a new folder, and everythi

[2020-12-29 15:17] Aminerman commented on #51
Hi again @evgenii-code ,
I did manage to figure out your issue. I pushed a fix under version 1.2.3
Let me know if it fixes your problem and if you encouter any another issue.

[2020-12-29 15:35] evgenii-code commented on #51
Hi!

Yes, problem is gone now, working great.

Thank you for an amazing package!

[2020-12-29 18:11] #51 closed

[2021-01-06 16:32] macizomedia opened #53 "Noob problem with modules"
Hi my setup is with vue2, don't know if I am missing some Extra config as I am getting this warning and the element does not show on screen.

Thanks if I can have a Hint!

[code]

[2021-01-06 18:46] Aminerman commented on #53
Hello! Well there is no such thing as a noob question. Many things can be understandably a little obscure.
Well I actually tried to create a new Vue2 project where I imported vue-kinesis.esm and I got none of these warnings, and the components work fine.
Are you sure you installed the Vue2 version of `vue-kinesis`? In your `package.json`, you should see the `1.2.3` version.

If it still doesn't wo

[2021-01-07 22:48] macizomedia commented on #53
Thanks for quick replay at the moment I am rebuilding the project. I might have an polluted node_modules folder. Will let you know how it goes. Thanks!

[2021-01-25 13:57] Aminerman commented on #53
Hello! I'll close this issue for now. If you still have problems and would require more investigation, you can reopen it :)

[2021-01-25 13:57] #53 closed

[2021-01-31 21:39] austinv11 opened #54 "Respond to mouse events when behind other components?"
Hello,

Right now I want to use Vue-Kinesis as part of the background of my website and as a result I am making it render at a negative z-index. However, I am having trouble with getting it to respond to mouse movement. Is there a way to get it to respond to mouse movement events even if behind other components?

[2021-02-02 14:16] Aminerman commented on #54
Hello!

Well I guess if you put the `kinesis-container` at a negative z-index then the mouseover event doesn't trigger, which is the expected behavior. What you can do is to have only the `kinesis-element`s render at a negative z-index. Then you just need to figure out where to put the `kinesis-container` in your app.

Let me know if it helps.

[2021-02-02 21:59] austinv11 commented on #54
Looks like that doesn't work. Any idea of alternate approaches without using a negative z-index? Understandable if not, feel free to close this.

[2021-02-02 22:31] ErriourRU commented on #44
I have the same suggestion. Its very necessary thing)

[2021-02-03 19:57] Aminerman commented on #54
Hmm, that's unfortunate... Well I'm pretty much sure that if the kinesis-container doesn't have a negative z-index it should work.  I you want, and if it's not a problem for you, we can plan a quick call and I can help you by directly looking at your project. What do you think about it?

[2021-02-03 20:08] Aminerman commented on #54
I made this Codesandbox so it might help you get the idea.
https://codesandbox.io/s/long-leaf-yc6d0?file=/src/App.vue
The logo is rendered at a negative z-index, and is positioned behind other elements. The kinesis-container is kept as is, without negative z-index.

[2021-02-05 14:25] #54 closed

[2021-02-11 09:29] gilles6 opened #55 "How to make infinite rotation of image with vue-kinesis?"
I'm using `vue-kinesis` to animate an image, my component below works fine, but the animation is actually done with css directly. How should I change my configuration to make `vue-kinesis` manage the rotation ?

[code]

This question was previously asked [here](https://stackoverflow.com/questions/66151959/how-to-make-infinite-rotation-of-image-with-vue-kinesis).

[2021-02-15 15:05] saraElsanan opened #56 "not wroking in laravel"
![image](https://user-images.githubusercontent.com/11338871/107962512-b87b9980-6faf-11eb-8947-c05b22935dc5.png)
 I followed the doc and added the import then use , Laravel mix is building successfully but I get this error

i used this code in the doc
`<kinesis-container>
      Here, you can put
      <kinesis-element :strength="10">
          whatever
      </kinesis-element>
      <kinesis-elemen

[2021-02-15 17:54] Aminerman commented on #56
Hello! I don't really know about the specifics of Laravel and why it wouldn't work in this specific environment.
If you want to help me figure out the problem, maybe you can share a small repo with instructions on how I can get it running locally so I can test and debug it?
That would be quite helpful. Thank you :)

[2021-02-16 09:43] saraElsanan commented on #56
sure I'll make you a laravel repo with vue-kinesis installed I'll add you to the repo

[2021-02-16 10:36] saraElsanan commented on #56
@Aminerman i set up an empty laravel project and installed vue-kinesis and imported it and wrote you the instructions
i sent you an invitation .

[2021-02-16 11:38] Aminerman commented on #56
Thank you Sara, I'll give it a look and get back to you as soon as I can.

[2021-03-07 03:58] DRD161 opened #58 "How to use with layered svg?"
I am trying to have 2 separate svg components, with one laying on top of the other, each have their own animations qwhen moving the mouse. The animations work but only for the component that is last in the source order (the one underneath the other). I am using CSS Grid to position the components and have also tried absolute positioning but once the two components intersect things stop working pro

[2021-03-09 23:46] Aminerman commented on #58
Yes, I think I understand your issue. The way the container works is that it detects the mouse hovering and triggers animations of the `kinesis-element`. So the hover will only be detected on the one that is on top in the render.
What you could do is instead of having Component1 on top of Component2, you can have a structure like this:

Parent.vue
[code]

And you can remove `kinesis-container` fro

[2021-03-09 23:57] Aminerman commented on #58
Yes, I think I understand your issue. The way the `kinesis-container` works is that it detects the mouse hovering and triggers animations of the `kinesis-element`. So the hover will only be detected on the one that is on top in the render when they intersect.
What you could do is instead of having Component1 on top of Component2, you can have a structure like this, but then it will not make them m

[2021-03-11 17:19] #58 closed

[2021-04-17 04:16] bionexus opened #60 "Not able to limit translation during mouse scroll events"
Limiting movement of objects using the min and max props and type="translate" only works for mouse over move events, but not for scroll events.

In my case, I was able to use **minY** and **maxY** props to limit vertical movement within a **event="move"** _kinesis-container_, but switching it to **event="scroll"** disables the **minY** and **maxY** props and the objects are no longer constrained v

[2021-04-17 17:24] Aminerman commented on #60
Hello :) thank you for taking time to write a detailed description of your issue. I'm already working on a fix and refactoring some of the code at the same time.

For the movement to go in the opposite direction you just need to specify a negative :strength to your element.

Thanks a lot for your feedback :) it's pleasant to here and it motivates me to keep on working on this project.

I'll let yo

[2021-04-20 20:48] bionexus commented on #60
Thanks for checking into it! And thanks for mentioning that a negative :strength value can be used. I didn't realize that.

Looking forward to the fix, because it will make what I am working on much easier :)

[2021-05-14 11:14] mitjans opened #67 "Property "tag" was accessed during render but is not defined on instance"
I just installed lastest vue-kinesis version 2.0.4 and tried to use it in my Vue 3 project as follows:

[code]

[code]

[code]

Where `Project` is one of my vue components, which is not displayed and i get the following warnings in the console:

[code]

[2021-05-14 13:31] Aminerman commented on #67
Well, I tried to create a Codesandbox with the same package version, and it seems to work fine
https://codesandbox.io/s/fragrant-feather-jxp1x?file=/src/App.vue

Can you give me more details? Or a repository with a minimal code that reproduces this issue?

[2021-05-14 14:39] mitjans commented on #67
I found the problem. I used `DefinePlugin` to remove a console warning, following [this](https://stackoverflow.com/a/66204704/2148023) stackoverflow post:

[code]

If I remove this variable, vue-kinesis works as expected, but the console warning appears. Is there a way I can remove the warning and have vue-kinesis working at the same time?

[2021-05-14 15:16] Aminerman commented on #67
What if you set it to true?

That's something I'm not aware of. If I understand well, you're dropping the options API, but kinesis uses it.
But I don't know what to do in this case. Should I change all the code so it works with the composition API? It will take some time. I mean, it would mean that all the plugins should be migrated to the composition API just to take into account this use case? I

[2021-05-14 17:35] mitjans commented on #67
You are right! Setting `__VUE_OPTIONS_API__` to `true` fixed the problem. No more warnings and kinesis works as expected.

Thanks!

[2021-05-14 20:13] Aminerman commented on #67
Perfect :) That's a good news.

[2021-05-14 20:13] #67 closed

[2021-05-31 10:46] Gredys commented on #23
One year later. No examples. Nice.

[2021-05-31 11:05] Aminerman commented on #23
@Gredys
Sorry that my life wasn't very easy this year and didn't completely revolve around this project :)

[2021-06-10 12:53] jimrubenstein commented on #34
Any updates on this?

[2021-06-11 08:54] michaelilic opened #71 "Active Prop on container not working"
I saw that setting active is not working as expected and described in the documentation. Is there a reason for that?

The if loop for checking if active is set in the container prop seems to be commented out.

`methods: {
// eslint-disable-next-line func-names
handleMovement: throttle(function (event) {
 // if (!this.active) return;
`

[2021-06-11 22:56] Aminerman commented on #71
@michaelilic
I released a new version, `1.3.2` and `2.0.5` (for Vue3) with the fix for this

[2021-06-11 22:56] Aminerman commented on #60
@bionexus
I released a new version with the fix

[2021-06-11 22:56] #60 closed

[2021-06-11 22:59] #71 closed

[2021-06-11 23:01] Aminerman commented on #55
Hello,

vue-kinesis is really only for interactive animations. So for this type of animation you either need to do it with CSS as you did, or use another component.

[2021-06-11 23:01] #55 closed

[2021-06-14 08:39] michaelilic commented on #71
Thanks. It seems like this has introduced a new error. After updating to the latest version i get this error:

`client.js?1b93:196 ./node_modules/vue-kinesis/dist/vue-kinesis.esm.js 231:22Module parse failed: Unexpected token (231:22)You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders|

[2021-06-14 11:48] DuelMonster opened #72 "Error when attempting to build project"
error  in ./node_modules/vue-kinesis/dist/vue-kinesis.esm.js

Module parse failed: Unexpected token (231:22)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
|   data() {
|     return {

|       isMoving: false,
|       leftOnce: false,

[2021-06-14 12:28] Aminerman commented on #72
What version of Vue and Kinesis are you using?

[2021-06-14 12:34] DuelMonster commented on #72
Sorry, Vue 2 and Kinesis 1.3.2

[2021-06-14 12:56] Aminerman commented on #72
@DuelMonster
Indeed, 1.3.2 had this issue. Rollup completely ignored Optional Chaining when building.
I fixed it in 1.3.3 just now, and I tested it. Let me know if it works for you.

[2021-06-14 13:24] DuelMonster commented on #72
That's fixed it. Thanks for the swift turnaround 🥰

[2021-06-14 13:24] #72 closed

[2021-06-17 08:37] dt2036 opened #73 "Allow kinesis-element in both sides of the movement like x axis and y axis"
Hello @Aminerman
Is there any solution for both sides of the movement like x axis and y axis in kinesis-element?

      <kinesis-element :strength="10"  axis="y">
        <img loading="lazy" src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png"
	width="300" height="200" alt="Radixweb for Custom Software Development" >
      </kinesis-element>

Thanks in advance.

[2021-06-17 08:50] Aminerman commented on #73
I'm not sure I understand correctly. You mean you would like to restrict the movement for both axis at the same time?

[2021-06-17 08:51] Aminerman commented on #73
@dt2036 I'm not sure I understand correctly. You mean you would like to restrict the movement for both axis at the same time?

[2021-06-17 08:54] dt2036 commented on #73
No, I want transition movement left to right and top to bottom vice versa.

[2021-06-17 08:58] dt2036 commented on #73
[demo.txt](https://github.com/Aminerman/vue-kinesis/files/6668775/demo.txt)
check-in this code pan https://codesandbox.io/s/vue-kinesis-6x3kd app.vue file in replacing the above demo.txt file.

[2021-06-17 09:50] dt2036 commented on #73
@Aminerman Thanks. my issue is solved. removed axis="y" from my code and my goal is achieved.

[2021-06-17 09:55] Aminerman commented on #73
Oh I get it now.

Yes, the axis prop is only when you want to restrict the movement. You don't need to specify it if you want a free movement.

[2021-06-17 09:55] #73 closed

[2021-06-29 22:27] SergeyMustafin commented on #30
Just append to your kinesis-element style="position: relative; z-index: 10 (or 9999)"

[2021-11-05 15:14] vzwick commented on #34
Bump!

[2021-11-10 17:25] vikash2806 opened #85 "Unsupportable for Vue3"
**Is your feature request related to a problem? Please describe.**
Iam not able to use vue-kinesis in Vue3

[2021-11-10 18:05] Aminerman commented on #85
Did you install the @next version?
`npm install --save vue-kinesis@next`
If so, please give further explanations about your issue.

[2021-11-11 03:44] vikash2806 commented on #85
https://codesandbox.io/s/silent-haze-emyps

[2021-11-11 09:19] andysay commented on #43
+ this idea very important !

[2021-11-15 07:31] andysay commented on #43
@Aminerman do u make it ? or need fork ?

[2021-11-15 08:45] Aminerman commented on #43
Hello guys, well there is no way to do it with vue-kinesis as it is exclusively used for interactive movements.
But @andysay if you have a good suggestion for that, I'm up for it and would be very grateful.

[2021-11-15 09:07] Aminerman commented on #85
Hi again,
I juste created this project to test:
https://github.com/Aminerman/vue3-kinesis-test

I just installed vue-kinesis@next, added it in the main.js, and used the components in App.vue
So everything works fine.

You can either take inspiration from this, or share your code so I can help you debugging this issue.

[2021-11-16 16:41] vikash2806 commented on #85
Hey, thank you for the repository. I will try to solve the problem in my code with the help of your repository.
I will let you know if  I am still facing the issue.

[2021-11-22 11:11] joeczar commented on #34
I'm also wondering about this.

[2021-11-22 11:18] joeczar commented on #47
Hi, has there been any progress on this issue? I have a similar use case for mobile that I'd like to fallback to if there is no gyroscope support.

[2021-12-03 21:36] Aminerman commented on #85
I'll consider this issue resolved. You can reopen it if it's not.

[2021-12-03 21:36] #85 closed

[2021-12-23 12:36] ionutbirlad opened #86 "Kinesis-audio not working"
Hi,
I'm trying to use the "kinesis-audio" component but it doesn't seem to work.
I've created a basic project with Vue 2 and installed the kinesis package as suggested, then I used the piece of code from the demo website in the audio section and after I pass an audio file  to the "kinesis-container" nothing happens. There is no audio player.
I also tried to call the play method on the container wi

[2021-12-24 15:06] Aminerman commented on #86
Hello! I'm working on a new demo page. I'll to push an example today for how to ise the audio.
Thanks for your patience.

[2022-02-15 12:38] sunilregmi777 opened #89 "i have vue: "^2.6.14" and vue-kinesis: "^1.3.3" still the same error"
![Screenshot_3](https://user-images.githubusercontent.com/33472421/154063569-659d029c-4d35-4569-8125-ca122a0990e9.png)

[2022-02-24 12:40] Aminerman commented on #89
https://codesandbox.io/s/festive-bush-1khjnx

It doesn't seem to cause any issue.

[2022-02-24 12:40] #89 closed

[2022-03-08 10:27] MooseSaeed commented on #56
Hello, is there any updates for this issue? I'm trying to use it in Laravel and VueJS 3 and it's not working

[2022-03-08 11:22] Aminerman commented on #56
@MooseSaeed No updates here as, in order to provide a solution, I need an out-of-the-box working Laravel project. @saraElsanan provided a repository but I have to install dozens of things, configurations etc to make it work. Also, I have no idea what are the specificities of a Laravel project that would prevent this from working.

So please, if you or someone who is enough knowledgeable about the

[2022-03-08 16:29] MooseSaeed commented on #56
@Aminerman Thanks for responding so quickly! I'm trying to use Kinesis in Laravel project but for some reason it's not working. I can be so descriptive about the issue but i'm not sure if i should do it here or open a new issue on Github as i'm getting different error than the one mentioned above.
Kinesis seems so easy to use and brilliant and it really frustrates me that it's not working in Larav

[2022-03-08 16:37] Aminerman commented on #56
@MooseSaeed Thanks for the kind words.

I'd advise you to first test if it's specific to Laravel : either create a Vite project or in CodeSandbox. If it's Laravel then you can give more details here about your error. Otherwise it would be better to open a new issue.

[2022-03-08 18:16] MooseSaeed commented on #56
@Aminerman It just worked 😄 I was importing VueKinesis in app.js since it's where I mount on `#app` but apparently in Laravel I should import it in the component itself.

All I did was running `npm install --save vue-kinesis@next` then creating a component called Testing.vue as follows:

[code]

Then in my blade I called the component like this:

[code]

And i got it working like this. not sure ye

[2022-03-09 11:23] MooseSaeed commented on #56
@Aminerman I can't find a proper full code example on Vue Kinesis. I searched everywhere and I couldn't find any.

[2022-03-09 15:47] MooseSaeed opened #92 "Unwanted hover effects"
**Describe the bug**
I'm creating a normal translate effect that should move my imgs when scrolling. However whenever I hover over the container the translate effect start running while it still works when scrolling but why is there anything happening on hover?

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Nothing should be happening unless I scroll. but the issu

[2022-03-09 19:42] Aminerman commented on #92
Thanks for letting me know about this. I'll give it a look and come back to you.

[2022-03-10 13:30] MooseSaeed commented on #92
So i noticed that when i increase the strength for some reason whenever page is refreshed the items places changes as well, as you can see in the above gif. What I initially want is for the "i" and "!" to be in their place but they go down while scrolling but instead they start in different place and when I hover or scroll they move to their original place and then they do what i want.

[2022-03-10 17:13] MooseSaeed commented on #92
@Aminerman I tried to figure it out but I can't find the spot where this is going wrong. for some reason changing strength is changing the position of the item even before anything takes effect.

[2022-03-18 11:47] joudy-almahjoub opened #93 "compiling problem npm version"
I install it as a npm package but  why when it comes to compiling it's not working and my project stop compile.?

[2022-03-18 13:58] Aminerman commented on #93
How would I know if you're not giving any further detail? There is a bug issue template that you could've followed.
Can you provide a public repository that reproduces this issue? Thanks.

[2022-03-18 17:23] joudy-almahjoub commented on #93
sorry for not giving you Specified details.
that's my code:
`<template>
<div >
<kinesis-container :duration="1000" :easing="easing">

    <kinesis-element : strength="-5" :type="'translate'">
`<v-img src="../assets/splash.png"  id="My-img"></v-img>`

     </kinesis-element>

</kinesis-container>
</div>
</template>`
I followed the installation steps, as i type "npm run build" the project stop build

[2022-03-21 16:33] Aminerman commented on #93
Thank you for providing some details.
If you can show me the error you have when you run `npm run serve`, that would help.
My guess is that you didn't use `kinesis-container`
You can find examples here : https://aminerman.com/kinesis/#/
Or here : https://codesandbox.io/s/emyps?file=/src/components/HelloWorld.vue

[2022-03-28 22:15] #93 closed

[2022-04-24 08:49] Just-Timo commented on #92
@Aminerman i have the same issue with the scroll-animation on page load. It initializes with for example translate3d(0px, -100px, 0px) and directly changes to something like translate3d(0px, 49.7528px, 0px) when i scroll 1 pixel.

This looks terrible, when having the parallax effect on a hero-element as a first section on the page.

Please Help!

[2022-04-24 17:03] MooseSaeed commented on #92
@aminerman Any updates?

[2022-05-08 04:21] mahsamirzapour commented on #44
Just put your class on kinesis-element for example class="element" and in your media query of tablet or mobile put transition and transform " None "

[2022-07-15 20:37] tborges opened #98 "Animation example not working properly. I found multiple duplicated `type` on your sample."
Thanks for the hard work on this repo!

**Describe the bug**
When I copy the "photography" example from `https://aminerman.com/kinesis/#/` into my Vue, Nuxt application I get these errors below, about the `duplicate attribute: type`. I tried to remove the duplicated type but the effect still not the same from your website. How you go around this issue? Is this an issue?

I removed the duplicated `

[2022-10-25 09:12] bdiouih commented on #23
@Aminerman

You have an excellent library there, but the lack of examples' code lead to the developers not using the library.
This is also our case. It's a pity.

[2022-10-25 09:47] Aminerman commented on #23
@bdiouih
I understand. I'm almost done rewriting a more comprehensive doc that will be shipped with a new version and new features.
Meanwhile, these links might help you:
https://blog.logrocket.com/interactive-vue-animations-with-kinesis/
https://blog.logrocket.com/top-5-vue-animation-libraries-compared/

[2022-10-25 10:06] Aminerman commented on #23
@bdiouih
I added some more to the README

[2022-10-25 10:11] bdiouih commented on #23
Thank you very much @Aminerman
we are looking more at the examples

[2022-11-07 21:02] Aminerman opened #102 "Test"